<div class="container">
  <div class="row">

  <div class="text-center">

    <h3>  <strong><i class="fa fa-star" aria-hidden="true"></i> We are waiting for <%= @booking.room.user.first_name %> to confirm your request </strong> <i class="fa fa-star" aria-hidden="true"></i></h3>
    <h3> See ya! </h3>
      </div>
   </div>   