.map-container {
  display: flex;
}

#map {
  height: 90vh;
  width: 100vw;
  position: sticky;
  top: 50px;
}


.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  background-color:  #e4d96f;
}
