.map-container {
  display: flex;
}

#map {
  height: 90vh;
  width: 100vw;
  position: sticky;
  top: 50px;
}

.mapboxgl-popup div {
  max-width: 200px;
  background: rgba(210, 210, 210, 0.6);
  color: rgb(20,20,20);
  border-radius: 5%
}

